<html layout:decorate="~{template}" xmlns:layout="http://www.w3.org/1999/xhtml">
<head><title th:text="#{user.title.edit}"></title></head>
<body>
<div layout:fragment="content">
    <div class="breadcrumb">
        <span><a th:href="@{/user/list}" th:text="#{user.title.list}"></a></span>
        <span> > </span>
        <span>...</span>
    </div>
    <h1 th:text="#{user.title.edit}"><!--Edit User--></h1>

    <form class="form_post" th:action="@{/user/edit}" enctype="multipart/form-data" method="post" th:object="${user}">
        <label>
            <input type="hidden" th:field="*{id}" readonly>
        </label>
        <label>
            <span th:text="#{user.name}"></span>
            <small class="_validation">
                <input type="text" th:field="*{name}">
                <i class="_validation__error" th:errors="*{name}"></i>
            </small>
        </label>
        <label>
            <span th:text="#{user.age}"></span>
            <small class="_validation">
                <input type="number" th:field="*{age}">
                <i class="_validation__error" th:errors="*{age}"></i>
            </small>
        </label>
        <label>
            <span th:text="#{user.username}"></span>
            <small class="_validation">
                <input type="text" th:field="*{username}">
                <i class="_validation__error" th:errors="*{username}"></i>
            </small>
        </label>
        <label>
            <span th:text="#{user.homeAddress}"></span>
            <input type="text" th:field="*{homeAddress}">
        </label>
        <label>
            <span th:text="#{user.birthdate}"></span>
            <input type="text" name="birthdate" th:value="${#dates.format(user.birthdate, 'dd/MM/yyyy')}">
        </label>
        <label>
            <span th:text="#{user.avatarUrl}"></span>
            <input type="file" name="file" accept="image/*" >
        </label>
        <label>
            <span th:text="#{user.department}"></span>
            <select name="department.id"><!--map id cua departmentDTO trong class UserDTO-->
                <option
                    th:selected="${d.id == user.department?.id}"
                    th:each="d : ${departmentList}"
                    th:value="${d.id}"
                    th:text="${d.name}"
                ></option>
            </select>
        </label>

        <button type="submit" th:text="#{global.btn.update}"></button>
    </form>
</div>
</body>
</html>