<html layout:decorate="~{template}" xmlns:layout="http://www.w3.org/1999/xhtml">
<head><title th:text="#{ticket.title.edit}"></title></head>
<body>
<div layout:fragment="content">

    <div th:replace="~{fragment :: breadcrumb ('/ticket/list', 'ticket.title.list')}"></div>

    <h1 th:text="#{ticket.title.edit}"><!--Edit Ticket--></h1>

    <form class="form_post" th:action="@{/ticket/edit}" method="post" enctype="multipart/form-data" th:object="${ticket}">
        <label>
            <input type="hidden" name="id" th:value="${ticket.id}" readonly>
        </label> <!-- id auto increment-->
        <label>
            <span th:text="#{ticket.clientName}"></span>
            <input type="text" name="clientName" th:value="${ticket.clientName}">
        </label>
        <label>
            <span th:text="#{ticket.clientPhone}"></span>
            <input type="number" name="clientPhone" th:value="${ticket.clientPhone}">
        </label>
        <label>
            <span th:text="#{ticket.content}"></span>
            <textarea name="content" th:text="${ticket.content}"></textarea>
        </label>
        <div class="_label _label_radio">
            <span th:text="#{ticket.status}"></span>
            <span><label><input type="radio" name="status" th:value="true" th:text="Open"
                          th:checked="${true == ticket.status}" /></label></span>
            <span><label><input type="radio" name="status" th:value="false" th:text="Close"
                   th:checked="${false == ticket.status}" /></label></span>
        </div>
        <label>
            <span th:text="#{ticket.processDate}"></span>
            <input type="text" name="processDate" th:value="${#dates.format(ticket.processDate, 'dd/MM/yyyy')}">
        </label>
        <label>
            <span th:text="#{ticket.department}"></span>
            <select name="department.id"><!--map id cua departmentDTO trong class UserDTO-->
                <option
                    th:selected="${d.id == ticket.department?.id}"
                    th:each="d : ${departmentList}"
                    th:value="${d.id}"
                    th:text="${d.name}"
                ></option>
            </select>
        </label>
        <button type="submit" th:text="#{global.btn.update}"></button>
    </form>
</div>
</body>
</html>
